

<!DOCTYPE html>
 <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>DailyJournal</title>
        
    </head>
    <body>
        <%- include("partials/header"); -%>
            <h1>Contact</h1>
            <p><%= contact %></p>
        <%- include("partials/footer"); -%>
        <script src="" async defer></script>
    </body>
</html>
